<!DOCTYPE html>
<html lang="en">
<th:block th:include="./fragments/header.html"></th:block>
<body>

<div class="container-fluid" style="padding: 0px;">
    <div class="row">
        <div class="sidebar col-md-2" th:include="./admin/sidebar.html" style="float: left" ></div>
        <div class="col-md-10">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/admin">Admin</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Games</li>
                </ol>
            </nav>

            <div class="container mt-5">
                <div class="row">
                    <div class="col">
                        <h1>Games</h1>
                    </div>
                    <div class="col text-end">
                        <a class="btn btn-dark" id="createGame" style="color: #fff;" onclick="openPopup()">Create New Game</a>
                    </div>
                </div>

                <div id="popup" class="popup">
                    <div class="popup-content" style="width: 35%;">
                        <button type="button" class="close" onclick="closePopup()">&times;</button>
                        <form action="/admin/games/save" method="post" class="needs-validation" novalidate>
                            <div class="mb-3">
                                <label for="fullName" class="form-label">Full Name:</label>
                                <input type="text" id="fullName" name="fullName" class="form-control" required>
                                <div class="invalid-feedback">
                                    Please provide a full name.
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="releaseDate" class="form-label">Release Date:</label>
                                <input type="date" id="releaseDate" name="releaseDate" class="form-control" required>
                                <div class="invalid-feedback">
                                    Please select a release date.
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="iconUrl" class="form-label">Icon URL:</label>
                                <input type="text" id="iconUrl" name="iconUrl" class="form-control" required>
                                <div class="invalid-feedback">
                                    Please provide an icon URL.
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="productionCompany" class="form-label">Production Company:</label>
                                <input type="text" id="productionCompany" name="productionCompany" class="form-control" required>
                                <div class="invalid-feedback">
                                    Please provide a production company.
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary">Create</button>
                        </form>
                    </div>

                </div>

                <div class="container mt-4" style="height: 75vh; overflow: scroll;">
                    <div class="row">
                        <!-- Thymeleaf iteration to create cards -->
                        <div th:each="game : ${games}" class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <!-- Game icon -->
                                <img th:src="${game.iconUrl}" class="card-img-top" alt="Game Icon">
                                <div class="card-body">
                                    <!-- Game title -->
                                    <h5 class="card-title" th:text="${game.fullName}">Game Title</h5>
                                    <!-- Game release date -->
                                    <p class="card-text">Release Date: <span th:text="${game.releaseDate}">Release Date</span></p>
                                    <!-- Game production company -->
                                    <p class="card-text">Production Company: <span th:text="${game.productionCompany}">Company Name</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<th:block th:include="./fragments/footer.html"></th:block>
</body>
</html>