<!DOCTYPE html>
<html lang="en">
<th:block th:include="fragments/header.html"></th:block>
<body>

<div class="container-fluid" style="padding: 0px;">
  <div class="row">
    <div class="sidebar col-md-2" th:include="admin/sidebar.html" style="float: left" ></div>
    <div class="col-md-10">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">Admin</li>
        </ol>
      </nav>
      <div class="row">
        <div class="card text-bg-primary mb-3" style="max-width: 15rem; margin: 15px;">
          <div class="card-header"><i class="fa-solid fa-user-tie sidebar-icons"></i> Total Users</div>
          <div class="card-body" style="text-align: center;">
            <p class="card-text" style="font-size: 100px;"><span th:text="${totalUsers + 50}"></span></p>
          </div>
        </div>

        <div class="card text-bg-warning mb-3" style="max-width: 15rem; margin: 15px;">
          <div class="card-header"><i class="fa-solid fa-gamepad sidebar-icons"></i> Total Games</div>
          <div class="card-body" style="text-align: center;">
            <p class="card-text" style="font-size: 100px;"><span th:text="${totalGames}"></span></p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<th:block th:include="fragments/footer.html"></th:block>
</body>
</html>