<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="height: 100vh">
    <a href="/admin" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <img src="/images/logo.png" width="40" height="40" style="margin-right: 10px;">
        <span class="fs-4">PlayQuest</span>
    </a>
    <hr>
    <ul class="nav flex-column mb-auto">
        <li class="nav-item">
            <a href="/admin" class="nav-link text-white" aria-current="page">
                <i class="fa-solid fa-house sidebar-icons"></i>   Home
            </a>
        </li>
        <li class="nav-item">
            <a href="/admin/ads" class="nav-link text-white">
                <i class="fa-solid fa-tv sidebar-icons"></i> Ads
            </a>
        </li>
        <li class="nav-item">
            <a href="/admin/games" class="nav-link text-white">
                <i class="fa-solid fa-gamepad sidebar-icons"></i>  Games
            </a>
        </li>
        <li class="nav-item">
            <a href="/admin/users" class="nav-link text-white">
                <i class="fa-solid fa-users sidebar-icons"></i> Users
            </a>
        </li>
    </ul>
    <hr>
    <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://e0.pxfuel.com/wallpapers/396/108/desktop-wallpaper-skull-logo-skull-logo-art-logo-logo-design-gaming-skull-logo-thumbnail.jpg" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>Admin</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser2" >
            <li>
                <a class="dropdown-item text-danger" th:href="@{/logout}">
                    <i class="fas fa-sign-out-alt"></i> Sign out
                </a>
            </li>
        </ul>
    </div>
</div>

