<div class="container db-social">
  <div class="jumbotron jumbotron-fluid">
<!--    <h2>User Profile</h2>-->
  </div>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-xl-11">
        <div class="widget head-profile has-shadow">
          <div class="widget-body pb-0">
            <div class="row d-flex align-items-center">
              <div class="col-xl-4 col-md-4 d-flex justify-content-lg-start justify-content-md-start justify-content-center">
                <ul>
                  <li>
                    <div class="counter">246</div>
                    <div class="heading">Friends</div>
                  </li>
                  <li>
                    <div class="counter">30</div>
                    <div class="heading">Online</div>
                  </li>
                  <li>
                    <div class="counter">216</div>
                    <div class="heading">Offline</div>
                  </li>
                </ul>
              </div>
              <div class="col-xl-4 col-md-4 d-flex justify-content-center">
                <div class="image-default">
                  <img class="rounded-circle" src="./images/profilepic.png" alt="...">
                </div>
                <div class="infos">
                  <h2>Vitamin Water</h2>
                  <div class="location">New Delhi, IN</div>
                </div>
              </div>
              <div class="col-xl-4 col-md-4 d-flex justify-content-lg-end justify-content-md-end justify-content-center">
                <div class="follow">
                  <a class="btn btn-shadow" href="#">Edit Profile</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>