.login-logo {
    font-size: 44px;
    margin-top: 40px;
    font-family: Alegreya Sans SC, sans-serif;
}

.purple-clr {
    background: #7613F4;
    color: white;
}

.purple-clr-text {
    color: #7613F4 !important;
    text-decoration: none;
}

.purple-clr-text:hover {
    color: #5907c2 !important;
}