<!DOCTYPE html>
<html lang="en">
    <th:block th:include="fragments/header.html"></th:block>
<body>

    <div class="container-fluid" style="padding: 0px;">
        <div class="row">
            <div class="sidebar col-md-2" th:include="fragments/sidebar.html" style="float: left" ></div>
            <div class="col-md-7 posts-page">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                    </ol>
                </nav>

                <div class="stories-container">
                    <div class="stories">
                        <!-- Add your Instagram-like stories here -->
                        <div class="story">
                            <div class="story-image">
                                <img src="/images/ads/1.jpg" alt="Story 1">
                            </div>
                            <div class="story-name">User 1</div>
                        </div>
                        <div class="story">
                            <div class="story-image">
                                <img src="/images/ads/2.jpg" alt="Story 2">
                            </div>
                            <div class="story-name">User 2</div>
                        </div>
                        <div class="story">
                            <div class="story-image">
                                <img src="/images/ads/3.jpg" alt="Story 3">
                            </div>
                            <div class="story-name">User 3</div>
                        </div>
                        <div class="story">
                            <div class="story-image">
                                <img src="/images/ads/1.jpg" alt="Story 1">
                            </div>
                            <div class="story-name">User 1</div>
                        </div>
                        <div class="story">
                            <div class="story-image">
                                <img src="/images/ads/2.jpg" alt="Story 2">
                            </div>
                            <div class="story-name">User 2</div>
                        </div>
                        <div class="story">
                            <div class="story-image">
                                <img src="/images/ads/3.jpg" alt="Story 3">
                            </div>
                            <div class="story-name">User 3</div>
                        </div>
                        <div class="story">
                            <div class="story-image">
                                <img src="/images/ads/1.jpg" alt="Story 1">
                            </div>
                            <div class="story-name">User 1</div>
                        </div>
                        <div class="story">
                            <div class="story-image">
                                <img src="/images/ads/2.jpg" alt="Story 2">
                            </div>
                            <div class="story-name">User 2</div>
                        </div>
                        <div class="story">
                            <div class="story-image">
                                <img src="/images/ads/3.jpg" alt="Story 3">
                            </div>
                            <div class="story-name">User 3</div>
                        </div>
                        <div class="story">
                            <div class="story-image">
                                <img src="/images/ads/1.jpg" alt="Story 1">
                            </div>
                            <div class="story-name">User 1</div>
                        </div>
                        <div class="story">
                            <div class="story-image">
                                <img src="/images/ads/2.jpg" alt="Story 2">
                            </div>
                            <div class="story-name">User 2</div>
                        </div>
                        <div class="story">
                            <div class="story-image">
                                <img src="/images/ads/3.jpg" alt="Story 3">
                            </div>
                            <div class="story-name">User 3</div>
                        </div>
                        <div class="story">
                            <div class="story-image">
                                <img src="/images/ads/1.jpg" alt="Story 1">
                            </div>
                            <div class="story-name">User 1</div>
                        </div>
                        <div class="story">
                            <div class="story-image">
                                <img src="/images/ads/2.jpg" alt="Story 2">
                            </div>
                            <div class="story-name">User 2</div>
                        </div>
                        <div class="story">
                            <div class="story-image">
                                <img src="/images/ads/3.jpg" alt="Story 3">
                            </div>
                            <div class="story-name">User 3</div>
                        </div>
                        <!-- Add more stories as needed -->
                    </div>
                </div>
                <div class="post-wall">
                    <div class="instagram-post" th:each="post : ${postContents}">
                        <div class="post-header">
                            <img src="/images/profilepic.png" alt="Post Author">
                            <span class="post-author-name" th:text="${post.title}"></span>
                        </div>
                        <div class="post-image">
                            <img th:src="@{'/images/posts/' + ${post.images[0]}}" th:alt="${post.title}">
                        </div>
                        <div class="post-footer">
                            <div class="post-actions">
                                <i class="far fa-heart fa-3x" th:id="'heart-icon-' + ${post.id}"  th:onclick="|updateLikes('${post.id}', ${post.likes})|"></i>
                            </div>
                            <div class="post-likes" th:id="'like-counts-' + ${post.id}" th:text="${post.likes}"></div>
                            <div class="post-caption" th:text="${post.description}"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ads-sidebar col-md-3">
                <th:block th:include="fragments/ads.html"></th:block>
            </div>
        </div>
    </div>

        <script>
            function updateLikes(postID, likes) {
                let currentLikes = likes;
                let updatedLikes = 0;
                const heartIcon = document.getElementById("heart-icon-" + postID);

                // Perform the logic to update the likes count (you can make an AJAX request here)
                const isFilledHeart = heartIcon.classList.contains('fas');
                if (isFilledHeart) {
                    updatedLikes = parseInt(currentLikes) - 1;
                    heartIcon.classList.remove('fas');
                    heartIcon.classList.add('far');

                } else {
                    updatedLikes = parseInt(currentLikes) + 1;
                    heartIcon.classList.remove('far');
                    heartIcon.classList.add('fas');

                }
                console.log("current likes " + currentLikes);
                console.log("post id " + postID);


                // Toggle the classes when the icon is clicked

                // Use the correct unique ID for the like-counts element based on post ID
                document.getElementById("like-counts-" + postID).textContent = updatedLikes;

                let new_data = {
                    "id": postID,
                    "likes": updatedLikes
                };
                console.log(new_data);
                updateLikesDB(new_data);
            }
            async function updateLikesDB(data) {
                try {
                    const response = await fetch('/updateLikes', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(data),
                    });

                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }

                    // If the response is successful, wait for 1 second using setTimeout and a Promise
                    await new Promise(resolve => setTimeout(resolve, 1000));

                    // Reload the window after the 1-second delay
                    window.location.reload();
                } catch (error) {
                    // Handle any errors that occurred during the request or response
                    console.error('Error:', error);
                }
            }
        </script>
    <th:block th:include="fragments/footer.html"></th:block>
</body>
</html>