<!DOCTYPE html>
<html lang="en">
    <th:block th:include="fragments/header.html"></th:block>
<body>

    <div class="container-fluid" style="padding: 0px;">
        <div class="row">
            <div class="sidebar col-md-2" th:include="fragments/sidebar.html" style="float: left" ></div>
            <div class="col-md-7 posts-page">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                    </ol>
                </nav>

                <div class="stories-container">
                    <div class="stories">
                        <!-- Add your Instagram-like stories here -->
                        <div class="story">
                            <div class="story-image">
                                <img src="/images/ads/1.jpg" alt="Story 1">
                            </div>
                            <div class="story-name">User 1</div>
                        </div>
                        <div class="story">
                            <div class="story-image">
                                <img src="/images/ads/2.jpg" alt="Story 2">
                            </div>
                            <div class="story-name">User 2</div>
                        </div>
                        <div class="story">
                            <div class="story-image">
                                <img src="/images/ads/3.jpg" alt="Story 3">
                            </div>
                            <div class="story-name">User 3</div>
                        </div>
                        <div class="story">
                            <div class="story-image">
                                <img src="/images/ads/1.jpg" alt="Story 1">
                            </div>
                            <div class="story-name">User 1</div>
                        </div>
                        <div class="story">
                            <div class="story-image">
                                <img src="/images/ads/2.jpg" alt="Story 2">
                            </div>
                            <div class="story-name">User 2</div>
                        </div>
                        <div class="story">
                            <div class="story-image">
                                <img src="/images/ads/3.jpg" alt="Story 3">
                            </div>
                            <div class="story-name">User 3</div>
                        </div>
                        <div class="story">
                            <div class="story-image">
                                <img src="/images/ads/1.jpg" alt="Story 1">
                            </div>
                            <div class="story-name">User 1</div>
                        </div>
                        <div class="story">
                            <div class="story-image">
                                <img src="/images/ads/2.jpg" alt="Story 2">
                            </div>
                            <div class="story-name">User 2</div>
                        </div>
                        <div class="story">
                            <div class="story-image">
                                <img src="/images/ads/3.jpg" alt="Story 3">
                            </div>
                            <div class="story-name">User 3</div>
                        </div>
                        <div class="story">
                            <div class="story-image">
                                <img src="/images/ads/1.jpg" alt="Story 1">
                            </div>
                            <div class="story-name">User 1</div>
                        </div>
                        <div class="story">
                            <div class="story-image">
                                <img src="/images/ads/2.jpg" alt="Story 2">
                            </div>
                            <div class="story-name">User 2</div>
                        </div>
                        <div class="story">
                            <div class="story-image">
                                <img src="/images/ads/3.jpg" alt="Story 3">
                            </div>
                            <div class="story-name">User 3</div>
                        </div>
                        <div class="story">
                            <div class="story-image">
                                <img src="/images/ads/1.jpg" alt="Story 1">
                            </div>
                            <div class="story-name">User 1</div>
                        </div>
                        <div class="story">
                            <div class="story-image">
                                <img src="/images/ads/2.jpg" alt="Story 2">
                            </div>
                            <div class="story-name">User 2</div>
                        </div>
                        <div class="story">
                            <div class="story-image">
                                <img src="/images/ads/3.jpg" alt="Story 3">
                            </div>
                            <div class="story-name">User 3</div>
                        </div>
                        <!-- Add more stories as needed -->
                    </div>
                </div>

<!--                <div class="post-wall">-->
<!--                    <div class="instagram-post">-->
<!--                        <div class="post-header">-->
<!--                            <img src="/images/profilepic.png" alt="Post Author">-->
<!--                            <span class="post-author-name">John Doe</span>-->
<!--                        </div>-->
<!--                        <div class="post-image">-->
<!--                            <img src="/images/ads/1.jpg" alt="Post Image">-->
<!--                        </div>-->
<!--                        <div class="post-footer">-->
<!--                            <div class="post-actions">-->
<!--                                <i class="far fa-heart"></i>-->
<!--                                <i class="far fa-comment"></i>-->
<!--                            </div>-->
<!--                            <div class="post-likes">Likes: 100</div>-->
<!--                            <div class="post-caption">This is the caption for the post.</div>-->
<!--                            <div class="post-comments">-->
<!--                                <span class="comment-author">Jane Smith:</span> Comment 1<br>-->
<!--                                <span class="comment-author">Michael Johnson:</span> Comment 2-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="instagram-post">-->
<!--                        <div class="post-header">-->
<!--                            <img src="/images/profilepic.png" alt="Post Author">-->
<!--                            <span class="post-author-name">John Doe</span>-->
<!--                        </div>-->
<!--                        <div class="post-image">-->
<!--                            <img src="/images/ads/1.jpg" alt="Post Image">-->
<!--                        </div>-->
<!--                        <div class="post-footer">-->
<!--                            <div class="post-actions">-->
<!--                                <i class="far fa-heart"></i>-->
<!--                                <i class="far fa-comment"></i>-->
<!--                            </div>-->
<!--                            <div class="post-likes">Likes: 100</div>-->
<!--                            <div class="post-caption">This is the caption for the post.</div>-->
<!--                            <div class="post-comments">-->
<!--                                <span class="comment-author">Jane Smith:</span> Comment 1<br>-->
<!--                                <span class="comment-author">Michael Johnson:</span> Comment 2-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="instagram-post">-->
<!--                        <div class="post-header">-->
<!--                            <img src="/images/profilepic.png" alt="Post Author">-->
<!--                            <span class="post-author-name">John Doe</span>-->
<!--                        </div>-->
<!--                        <div class="post-image">-->
<!--                            <img src="/images/ads/1.jpg" alt="Post Image">-->
<!--                        </div>-->
<!--                        <div class="post-footer">-->
<!--                            <div class="post-actions">-->
<!--                                <i class="far fa-heart"></i>-->
<!--                                <i class="far fa-comment"></i>-->
<!--                            </div>-->
<!--                            <div class="post-likes">Likes: 100</div>-->
<!--                            <div class="post-caption">This is the caption for the post.</div>-->
<!--                            <div class="post-comments">-->
<!--                                <span class="comment-author">Jane Smith:</span> Comment 1<br>-->
<!--                                <span class="comment-author">Michael Johnson:</span> Comment 2-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="post-wall">
                    <div class="instagram-post" th:each="post : ${postContents}">
                        <div class="post-header">
                            <img src="/images/profilepic.png" alt="Post Author">
                            <span class="post-author-name" th:text="${post.title}"></span>
                        </div>
                        <div class="post-image">
                            <img th:src="@{'/images/posts/' + ${post.images[0]}}" th:alt="${post.title}">
                        </div>
                        <div class="post-footer">
                            <div class="post-actions">
                                <i class="far fa-heart"></i>
                                <i class="far fa-comment"></i>
                            </div>
                            <div class="post-likes">Likes: 100</div>
                            <div class="post-caption" th:text="${post.description}"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ads-sidebar col-md-3">
                <th:block th:include="fragments/ads.html"></th:block>
            </div>
        </div>
    </div>

    <th:block th:include="fragments/footer.html"></th:block>
</body>
</html>