<!DOCTYPE html>
<html lang="en">
<th:block th:include="fragments/header.html"></th:block>
<body>

<div class="container-fluid" style="padding: 0px;">
  <div class="row">
    <div class="sidebar col-md-2" th:include="fragments/sidebar.html" style="float: left" ></div>
    <div class="col-md-7">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Notifications</li>
        </ol>
      </nav>
      <div class="container">
        <h1 class="mt-4 mb-3">Notification List</h1>

        <table class="table">
          <thead>
          <tr>
            <th>Message</th>
            <th>Sender</th>
            <th>Post Title</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="notification : ${notifications}">
            <td th:text="${notification.notification_message}"></td>
            <td th:text="${notification.sender.getName()}"></td>
            <td>
              <a th:href="@{/post/{id}(id=${notification.post.getId()})}" th:text="${notification.post.getTitle()}"></a>
            </td>
            <td>
              <form th:action="@{/notification/{id}(id=${notification.notification_id})}" th:method="delete">
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
            </td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>

    <div class="ads-sidebar col-md-3">
      <th:block th:include="fragments/ads.html"></th:block>
    </div>
  </div>
</div>

<script th:inline="javascript">


</script>

<th:block th:include="fragments/footer.html"></th:block>
</body>
</html>