<!DOCTYPE html>
<html lang="en">
<th:block th:include="fragments/header.html"></th:block>
<body>

<div class="container-fluid" style="padding: 0px;">
  <div class="row">
    <div class="sidebar col-md-2" th:include="fragments/sidebar.html" style="float: left" ></div>
    <div class="col-md-7">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Notifications</li>
        </ol>
      </nav>
      <div class="container posts-page">
        <div class="post-wall">
          <div class="instagram-post">
            <div class="post-header d-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center">
                <a th:href="@{/profile/u/{id}(id=${post.user.id})}" style="text-decoration: none; color: inherit;">
                  <div class="d-flex justify-content-center align-items-center" style="width: 100%;margin-right: 10px;">
                    <div class="image-default">
                      <div class="rounded-circle profile-initials"
                           style="font-size: 20px; border: 2px solid black; background-color: #3a3acfc4; width: 45px; height: 45px; display: flex; align-items: center; justify-content: center;"
                           th:text="${post.user.name.split(' ')[0].charAt(0)} + ${post.user.name.contains(' ') ? post.user.name.split(' ')[1].charAt(0) : ''}">
                      </div>
                    </div>
                  </div>
                </a>
                <span class="post-author-name" th:text="${post.getTitle()}"></span>
              </div>
              <!-- Three dots and dropdown menu -->
              <div class="dropdown">
                <button class="btn" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
                  <i class="fas fa-ellipsis-h"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                  <li><a class="dropdown-item text-danger" href="#" th:onclick="|deletePost('${post.getId()}')|">Delete</a></li>
                </ul>
              </div>
            </div>
            <div class="post-image" style="width: 577px;">
              <img th:src="@{${post.images[0]}}" th:alt="${post.title}" style="width: 100%">
            </div>
            <div class="post-footer">
              <div class="post-likes" th:id="'like-counts-' + ${post.getId()}" th:text="${post.getLikes()}"></div>
              <div class="post-caption" th:text="${post.getDescription()}"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ads-sidebar col-md-3">
      <th:block th:include="fragments/ads.html"></th:block>
    </div>
  </div>
</div>

<script th:inline="javascript">


</script>

<th:block th:include="fragments/footer.html"></th:block>
</body>
</html>