<!DOCTYPE html>
<html lang="en">
<th:block th:include="fragments/header.html"></th:block>
<body>

<div class="container-fluid" style="padding: 0px;">
  <div class="row">
    <div class="sidebar col-md-2" th:include="fragments/sidebar.html" style="float: left" ></div>
    <div class="col-md-7">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Settings</li>
        </ol>
      </nav>

      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Free</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>1 Profile for each game</li>
              <li>Email support</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Current</button>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Quest Pack</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>3 profiles for each game</li>
              <li>Priority email support</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg" onclick="openPaymentForm(15)">Get started</button>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Quest Pack Yearly</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$144 <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>3 profiles for each game</li>
              <li>Priority email support</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg" onclick="openPaymentForm(144)">Get Started</button>
          </div>
        </div>
      </div>

      <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg" onclick="openPaymentForm(15)">Edit Payment Details</button><br/><br/>

      <button type="button" class="btn btn-danger" >Cancel Subscription</button>
      <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" >
        <div class="modal-dialog modal-lg">
          <div class="modal-content" style="border: none; background: transparent; ">
          </div>
        </div>
      </div>

    </div>

    <div class="ads-sidebar col-md-3">
      <th:block th:include="fragments/ads.html"></th:block>
    </div>
  </div>
</div>
<script>
  function openPaymentForm(price){
    let subscriptionForm = `
            <div class="subscription-form">
              <section>
                <div class="container py-5">
                  <div class="row d-flex justify-content-center">
                    <div class="col-md-9 col-lg-7 col-xl-5">
                      <div class="card">
                        <div class="card-body">
                          <div class="card-title d-flex justify-content-between mb-0">
                            <p class="text-muted mb-0">Subscription Plan</p>
                            <p class="mb-0">$${price}</p>
                          </div>
                        </div>
                        <div class="rounded-bottom" style="background-color: #eee;">
                          <div class="card-body">
                            <p class="mb-4">Your payment details</p>

                            <div class="form-outline mb-3">
                              <input type="text" id="formControlLgXM8" class="form-control" placeholder="1234 5678 1234 5678"
                                     autocomplete="new-password" />
                              <label class="form-label" for="formControlLgXM8">Card Number</label>
                            </div>

                            <div class="row mb-3">
                              <div class="col-6">
                                <div class="form-outline">
                                  <input type="password" id="formControlLgExpk8" class="form-control"
                                         placeholder="MM/YYYY" autocomplete="new-password"/>
                                  <label class="form-label" for="formControlLgExpk8">Expire</label>
                                </div>
                              </div>
                              <div class="col-6">
                                <div class="form-outline">
                                  <input type="password" id="formControlLgcvv8" class="form-control" placeholder="Cvv" />
                                  <label class="form-label" for="formControlLgcvv8">Cvv</label>
                                </div>
                              </div>
                            </div>

                            <button class="btn btn-info btn-block">Save Details</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
`;
    let formContainer = document.querySelector('.modal-content');
    formContainer.innerHTML = subscriptionForm;

  }
</script>
<th:block th:include="fragments/footer.html"></th:block>
</body>
</html>